@font-face{
    font-family: RobotoCn;
    src:  url(Resources/Roboto-Condensed.ttf);
}

@font-face{
    font-family: RobotoTh;
    src: url(Resources/Roboto-Thin.ttf);   
}

@font-face{
    font-family: OpenSansLt;
    src: url(Resources/Open%20Sans/OpenSans-Light.ttf);
}

.spacehold{
    height: 30px;
}

body{
    font-family: RobotoCn;
    background-image: url("Resources/Index%20Page%20Background.jpg");
    background-size: 100% 100%;
    background-position: top left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size:19px;
    color: white;
}

.TEFbanner-text{
    margin-top: 15px;
    margin-left: 8%;
    margin-right:  8%;
    width: 80%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    font-size: 19px;
    background-color: rgba(0,0,0,0.6);
    transition: background-color 0.6s;
}

.TEFbanner-text:hover{
    background-color: rgba(0,0,0,0.9);
}

.title-text{
    text-align: center;
    font-size: 27px;
    font-family: RobotoCn;
}

.clearfix:after {
    clear:both; 
    display: none;
}
 
/*----- Menu Outline -----*/
.menu-wrap {
    box-shadow:0px 1px 3px rgba(0,0,0,0.2);
    background:#292929; 
    margin-left: 20%;
    margin-right: 20%;
    float:left;
    align-content: center;
    text-align: center;
}
 
.menu {
    margin-left: 20%;
    margin-right: 20%;  
    margin:0px auto;
    font-size: 19px;
    min-width: 50%;
    align-content: center;  
}
 
.menu li {
    margin:0px;
    list-style:none;
    font-size: 19px;
}
 
.menu a {
    transition:all linear 0.15s;
    color:#919191;
    text-decoration: none;
    font-size: 19px;
}
 
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:  #5098c4;
    font-size: 19px;
}
 
.menu .arrow {
    font-size:11px;
    line-height:0%;
}
 
/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
}
 
.menu > ul > li > a {
    padding:10px 40px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
    font-size: 19px;
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#27282e;
    font-size: 19px;
}



/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
    width:160%;
    padding:0px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#27282e;
    font-size: 19px;
}
 
.sub-menu li {
    display:block;
    font-size: 19px;
}
 
.sub-menu li a {
    padding:10px 30px;
    display:block;
    font-size: 19px;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    background:#303341;
    font-size: 19px;
}