h1{
    margin-top:12%;
    font-size: 50px;
    text-align: center;
    font-family: RobotoTh;
    color: white;
}

.beginbutton{
    margin-left:  35%;
    width: 30%;
    height: 40px;
    background-color: rgba(0,0,0,0.2);
    font-size: 25px;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding-top: 8px;
    border: 2px solid #ffffff;
    transition: width 0.7s, margin-left 0.7s, background-color 0.7s, color 0.7s;
    font-weight: 300;
}

.beginbutton:hover{
    margin-left:  2.5%;
    width: 95%;
    background-color: #27282e;
    color: #5098c4;
}

a{
    text-decoration: none;
}

#warning-message { display: none; }
    @media only screen and (orientation:portrait){
        #wrapper { display:none; }
        #warning-message { display:block; }
    }
    @media only screen and (orientation:landscape){
        #warning-message { display:none; }
    }